<form>
    <div class="columnas" style="justify-content: center; margin-bottom: 15px; color: #1a0767;">
        <p><b>Editar / Eliminar Colección</b></p>
    </div>
    <p>Nombre</p>
    <div class="input">
        <input type="text" placeholder="Nombre de la colección" id="nombre" name="nombre" [(ngModel)]="coleccion1.nombre" required>
    </div>
    <p>Tipo</p>
    <div class="input">
        <select id="tipo" name="tipo" [(ngModel)]="coleccion1.tipo" required>
            <option value="Publica">Publica</option>
            <option value="Privada">Privada</option>
        </select>
    </div>
    <div class="columnas">
        <div class="col-33" style="display: flex; justify-content: center;">
            <button type="submit" style="cursor: pointer; background: #3459c8;" (click)="salir()">Cancelar</button>
        </div>
        <div class="col-33" style="display: flex; justify-content: center;">
            <button type="submit" style="cursor: pointer; background: #34c848;" (click)="guardar(coleccion1)">Editar</button>
        </div>
        <div class="col-33" style="display: flex; justify-content: center;">
            <button type="submit" style="cursor: pointer; background: #c83434;" (click)="eliminar(coleccion1)">Eliminar</button>
        </div>
    </div>
</form>